<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <!--<add name ="conexao" value="Data Source=NBQSP-FC1085\SQLEXPRESS;Initial Catalog=TCC;Integrated Security=True"/>-->
    <add name ="conexao" connectionString="Data Source=DESKTOP-NM2NDSU\SQLEXPRESS;Initial Catalog=TCC;Integrated Security=True"/>
  </connectionStrings>
</configuration>
