@model GerenciaRH.Model.UsuarioModel
<link href="~/Content" rel="stylesheet" />

@if (Model.listUsuario.Count > 0 & Model.listUsuario != null)
{
    <table id="tbUsuarios">

        @foreach (var usuario in Model.listUsuario)
        {
            <tr class="cardColaborador" id="tabela_@usuario.Racf">
                <td>
                    <img src="~/Resources/Icons/pessoa_@usuario.IdUsuario .png" width="120" height="120" style="border-radius:30%" />
                </td>

                <td class="separator-gray">
                </td>

                <td class=" separador">
                </td>

                <td class="font-weight-bold" width="440px" style="margin-left:30%">
                    Nome:@usuario.NomeUsuario <br />
                    Racf:@usuario.Racf <br />
                    Cargo:@usuario.NomeCargo <br />
                </td>

                <td class="tooltipCSS" onclick="EfetuarAvaliacao('@usuario.Racf')" style="cursor:pointer;margin-right: 110px">
                    <img src="~/Resources/Icons/avaliacao.png" width="45" height="45" />
                    <span class="tooltiptextCSS">Avaliar</span>
                </td>

                <td class="tooltipCSS" onclick="EfetuarDesligamento('@usuario.Racf', '@Model.Usuario.Racf')" style="cursor:pointer; margin-right: 90px">
                    <img src="~/Resources/Icons/demissao.png" class="m-2" height="30" />
                    <span class="tooltiptextCSS">Desligar</span>
                </td>
                <td class="tooltipCSS" onclick="EfetuarUpdate('@usuario.Racf')" style="cursor:pointer; margin-right: 90px">
                    <img src="~/Resources/Icons/Edit.png" class="m-2" height="30" />
                    <span class="tooltiptextCSS">Editar Usuário</span>
                </td>

            </tr>
        }


    </table>
}